@import '../sites/lookfantastic';

html {
  font-family: sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  color: $black;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  margin: 0;
}

h4 {
  font-family: $post-card__title;
  font-weight: 400;
}

img {
  vertical-align: bottom;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  color: $dark-grey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.m-b-2 {
  margin-bottom: 1.5rem;
}

.post-card {
  display: table;
  font-size: 0;
}

@media (min-width: 48em) {
  .post-card--hero .post-card__text {
    padding-left: 24px;
    padding-left: 1.5rem;
    padding-right: 0;
    width: 38%;
  }
}

@media (min-width: 48em) {
  .post-card--hero .post-card__title {
    font-size: 40px;
    font-size: 2.5rem;
    margin: 20px 0;
    margin: 1.25rem 0;
  }
}

@media (min-width: 48em) {
  .post-card--hero {
    .post-card__media, .post-card__text {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@media (min-width: 48em) {
  .post-card--hero .post-card__media {
    height: 500px;
    height: 31.25rem;
    width: 62%;
    .post-card__link {
      height: 500px;
      height: 31.25rem;
    }
  }
}

@media (min-width: 48em) {
  .post-card--hero .post-card--reverse .post-card__text {
    left: -62%;
    padding-left: 0;
    padding-right: 24px;
    padding-right: 1.5rem;
  }
}

.post-card--hero {
  .post-card--reverse .post-card__media, &.post-card--reverse .post-card__text {
    position: relative;
  }
}

@media (min-width: 48em) {
  .post-card--hero .post-card--reverse .post-card__media {
    right: -38%;
  }
}

.post-card__media {
  display: table-cell;
  margin: 0;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}

.post-card__link {
  color: $black;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color;
    text-decoration: none;
  }
}

.post-card__image {
  height: 100%;
  margin: 0;
  object-fit: cover;
  width: 100%;
}

.post-card__text {
  color: $grey;
}

.post-card__category {
  display: block;
  font-size: 10px;
  font-size: .625rem;
  font-weight: 700;
  letter-spacing: .1em;
  margin: 12px 0 0;
  margin: .75rem 0 0;
  text-transform: uppercase;
}

.post-card__snippet {
  font-size: 13px;
  font-size: .8125rem;
  margin: 0 0 12px;
  margin: 0 0 .75rem;
}

@media (min-width: 48em) {
  .post-card__snippet {
    font-size: 14px;
    font-size: .875rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
  }
}

.post-card__meta {
  font-size: 12px;
  font-size: .75rem;
  margin: 0;

  a {
    color: $color;

    &:focus,
    &:hover {
      color: $color;
      text-decoration: none;
    }
  }
}
