@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700';
@font-face {
  font-family: 'TeXGyreAdventorRegular';
  src: url("http://s2.thcdn.com/fe/fonts/beautexpert/texgyreadventor-regular-webfont.eot");
  src: url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-regular-webfont.eot#iefix") format("embedded-opentype"), url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-regular-webfont.woff") format("woff"), url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-regular-webfont.ttf") format("truetype"), url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-regular-webfont.svg#texgyreadventorregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TeXGyreAdventorBold';
  src: url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.eot");
  src: url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.eot#iefix") format("embedded-opentype"), url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.woff") format("woff"), url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.ttf") format("truetype"), url("http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.svg#texgyreadventorbold") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KYX0hVgzZQUfRDuZrPvH3D8.woff2") format("woff2");
  unicode-range: U+1F00-1FFF; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAoX0hVgzZQUfRDuZrPvH3D8.woff2") format("woff2");
  unicode-range: U+0370-03FF; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEEYX0hVgzZQUfRDuZrPvH3D8.woff2") format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzA7aC6SjiAOpAWOKfJDfVRY.woff2") format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBdwxCXfZpKo5kWAx_74bHs.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJ6vnaPZw6nYDxM4SVEMFKg.woff2") format("woff2");
  unicode-range: U+1F00-1FFF; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzPy1_HTwRwgtl1cPga3Fy3Y.woff2") format("woff2");
  unicode-range: U+0370-03FF; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzPgrLsWo7Jk1KvZser0olKY.woff2") format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzIjoYw3YTyktCCer_ilOlhE.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBvZraR2Tg8w2lzm7kLNL0-w.woff2") format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBl4sYYdJg5dU2qzJEVSuta0.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBlBW26QxpSj-_ZKm_xT4hWw.woff2") format("woff2");
  unicode-range: U+1F00-1FFF; }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBgt_Rm691LTebKfY2ZkKSmI.woff2") format("woff2");
  unicode-range: U+0370-03FF; }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBtDiNsR5a-9Oe_Ivpu8XWlY.woff2") format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBqE8kM4xWR1_1bYURRojRGc.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Oswald';
  font-style: normal; }

@font-face {
  font-family: 'bebasneue';
  src: url("http://s2.thcdn.com/fe/fonts/iwoot/BebasNeue-webfont.eot");
  src: url("http://s2.thcdn.com/fe/fonts/iwoot/BebasNeue-webfont.eot#iefix") format("embedded-opentype"), url("http://s2.thcdn.com/fe/fonts/iwoot/BebasNeue-webfont.woff") format("woff"), url("http://s2.thcdn.com/fe/fonts/iwoot/BebasNeue-webfont.ttf") format("truetype"), url("http://s2.thcdn.com/fe/fonts/iwoot/BebasNeue-webfont.svg#bebasneue") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'antoniobold';
  src: url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-bold-webfont.eot");
  src: url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-bold-webfont.eot#iefix") format("embedded-opentype"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-bold-webfont.woff") format("woff"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-bold-webfont.ttf") format("truetype"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-bold-webfont.svg#antoniobold") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'antoniolight';
  src: url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-light-webfont.eot");
  src: url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-light-webfont.eot#iefix") format("embedded-opentype"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-light-webfont.woff") format("woff"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-light-webfont.ttf") format("truetype"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-light-webfont.svg#antoniolight") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'antonioregular';
  src: url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-regular-webfont.eot");
  src: url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-regular-webfont.eot#iefix") format("embedded-opentype"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-regular-webfont.woff") format("woff"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-regular-webfont.ttf") format("truetype"), url("http://s2.thcdn.com/fe/fonts/iwoot/antonio-regular-webfont.svg#antonioregular") format("svg");
  font-weight: 400;
  font-style: normal; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #373a3c;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding-top: 50px;
  padding-top: 3.125rem; }

a {
  background-color: transparent;
  color: #000;
  text-decoration: none;
  touch-action: manipulation; }
  a:active {
    outline-width: 0; }
  a:hover {
    text-decoration: underline; }

img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%; }

p {
  margin-bottom: 1rem;
  margin-top: 0; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-color: transparent;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top: 1px solid #eceeef; }

.post-content {
  width: 100%;
  clear: both; }

.text-center {
  text-align: center; }

.m-x-auto {
  margin-left: auto;
  margin-right: auto; }

.post-content-width {
  width: 100%; }

.media {
  overflow: hidden; }

.author-info {
  padding: 0 20px;
  padding: 0 1.25rem;
  margin-top: 0;
  text-align: center; }

.p-y-2 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

.author-info__avatar {
  display: block;
  width: 80px;
  width: 5rem;
  height: 80px;
  height: 5rem;
  margin: 0 auto 18px;
  margin: 0 auto 1.125rem;
  overflow: hidden; }

.media-object {
  display: block; }

.img-circle {
  border-radius: 50%; }

.author-info__image {
  width: 100%;
  height: auto; }

.author-info__text {
  display: block; }

.author-info__heading {
  color: #000;
  font-family: "antonioregular", Arial, Verdana, Helvetica;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8px;
  margin-bottom: .5rem;
  margin-top: 0;
  padding: 0;
  text-transform: none; }

.author-info__subheader {
  display: block;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  line-height: 1;
  color: #777;
  font-size: 11px;
  font-size: .6875rem; }

.author-info__bio {
  font-size: 12px;
  font-size: .75rem;
  color: #000;
  margin: 0; }

@media (min-width: 48em) {
  .post-content {
    max-width: 700px;
    max-width: 43.75rem; }
  .post-content-width {
    max-width: 700px;
    max-width: 43.75rem; }
  .author-info {
    padding: 0;
    text-align: left; }
  .author-info__avatar {
    display: table-cell;
    vertical-align: top;
    width: 120px;
    width: 7.5 rem;
    height: 120px;
    height: 7.5rem; }
  .author-info__text {
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
    padding-left: 1.25rem; }
  .author-info__subheader {
    margin: 0 0 8px;
    margin: 0 0 .5rem; } }
