@import '../variables';

$color: #676666;
$hover: #676666;
$text-transform: none;
$display: block;

// EDITORS
$text-decoration: none;
$section-title--alt-font: $open-sans;
$editor__name: Georgia, 'Times New Roman', serif;
$editor__tag: 'Verdana', Arial, sans-serif;

// POST-CARD
$post-card__title: Georgia, 'Times New Roman', serif;
$post-card__category: $open-sans;
$post-card__editor: $open-sans;
$post-card__snippet: 'Verdana', Arial, sans-serif;
$post-card__date: $open-sans;

// AUTHOR_INFO
$author-info__heading: Georgia, 'Times New Roman', serif;
$body: $open-sans;
