@import '../variables';

$color: #676666;
$hover: #676666;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Open Sans', Helvetica, Arial, sans-serif;
$editor__name: Georgia, 'Times New Roman', serif;

// POST-CARD
$post-card__title: Georgia, 'Times New Roman', serif;
// $-post-card__category:
// $-post-card__editor:
$post-card__snippet: 'Verdana', Arial, sans-serif;
// $-post-card__date:
$text-transform: none;
