@import '../variables';

$color: #333;
$hover: #333;
$display: block;
$text-transform: none;
$text-decoration: none;

// EDITORS
$section-title--alt-font: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
$editor__name: 'TeXGyreAdventorBold', Helvetica Neue, Helvetica, Arial, sans-serif;
$editor__tag: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'TeXGyreAdventorBold', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__category: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__editor: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__snippet: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__date: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;

// AUTHOR_INFO
$author-info__heading: 'TeXGyreAdventorBold', Helvetica Neue, Helvetica, Arial, sans-serif;
$body: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
