@import '../variables';

$color: #333;
$hover: #333;
$text-transform: none;
$display: block;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
$editor__name: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$editor__tag: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'TeXGyreAdventorBold', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__category: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__editor: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__snippet: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__date: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;

// AUTHOR_INFO
$author-info__heading__link: 'TeXGyreAdventorBold', Helvetica Neue, Helvetica, Arial, sans-serif;

// FONTS
@font-face {
  font-family: 'TeXGyreAdventorRegular';
  src:url('http://s2.thcdn.com/fe/fonts/beautexpert/texgyreadventor-regular-webfont.eot');
  src:url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-regular-webfont.eot#iefix') format("embedded-opentype"),
    url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-regular-webfont.woff') format("woff"),
    url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-regular-webfont.ttf') format("truetype"),
    url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TeXGyreAdventorBold';
  src:url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.eot');
  src:url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.eot#iefix') format("embedded-opentype"),
    url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.woff') format("woff"),
    url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.ttf') format("truetype"),
    url('http://s2.thcdn.com/fe/fonts/beautyexpert/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format("svg");
  font-weight: 400;
  font-style: normal;
}
