@import '../variables';

$color: $black;
$hover: #333;
$display: none;
$text-transform: none;
$text-decoration: none;

// EDITORS
$section-title--alt-font: $open-sans;
$editor__name: 'PT-Sans-Narrow-Bold';
$editor__tag: $open-sans;

// POST-CARD
$post-card__title: 'PT-Sans-Narrow-Bold';
$post-card__category: 'PT-Sans-Narrow';
$post-card__editor: 'PT-Sans-Narrow-Bold';
$post-card__snippet: 'PT-Sans-Narrow';
$post-card__date: 'PT-Sans-Narrow';

.post-card__category:hover {
  text-decoration: underline;
}

// AUTHOR_INFO
$author-info__heading: 'PT-Sans-Narrow-Bold';
$body: 'TeXGyreAdventorRegular', Helvetica Neue, Helvetica, Arial, sans-serif;

// FONTS
@font-face {
  font-family: 'PT-Sans-Narrow';
  src: url('http://s2.thcdn.com/fe/fonts/coggles/PTN57F-webfont.eot');
  src: url('http://s2.thcdn.com/fe/fonts/coggles/PTN57F-webfont.eot#iefix') format("embedded-opentype"),
    url('http://s2.thcdn.com/fe/fonts/coggles/PTN57F-webfont.woff') format("woff"),
    url('http://s2.thcdn.com/fe/fonts/coggles/PTN57F-webfont.ttf') format("truetype"),
    url('http://s2.thcdn.com/fe/fonts/coggles/PTN57F-webfont.svg#pt_sans_narrow_bold') format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT-Sans-Narrow-Bold';
  src:url('http://s2.thcdn.com/fe/fonts/coggles/PTN77F-webfont.eot');
  src:url('http://s2.thcdn.com/fe/fonts/coggles/PTN77F-webfont.eot#iefix') format("embedded-opentype"),
  url('http://s2.thcdn.com/fe/fonts/coggles/PTN77F-webfont.woff') format("woff"),
  url('http://s2.thcdn.com/fe/fonts/coggles/PTN77F-webfont.ttf') format("truetype"),
  url('http://s2.thcdn.com/fe/fonts/coggles/PTN77F-webfont.svg#pt_sans_narrow_bold') format("svg");
  font-weight: 400;
  font-style: normal;
}
