@import '../variables';

$color: #f68d27;
$hover: #f68d27;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$editor__name: 'Oswald', Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'Oswald', Helvetica, Arial, sans-serif;
// $post-card__category:
// $post-card__editor:
$post-card__snippet: 'Oswald', Helvetica, Arial, sans-serif;
// $post-card__date:
$text-transform: none;
