@import '../variables';

$color: #776d6f;
$hover: #776d6f;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Open Sans', Helvetica, Arial, sans-serif;
$editor__name: 'Open Sans', Helvetica, Arial, sans-serif;

// POST_CARD
$post-card__title: 'Open Sans', Helvetica, Arial, sans-serif;
// $post-card__category:
// $post-card__editor:
$post-card__snippet: 'Open Sans', Helvetica, Arial, sans-serif;
// $post-card__date:
$text-transform: none;
