@import '../variables';

$color: $black;
$hover: $black;
$display: block;
$text-transform: uppercase;
$text-decoration: none;

// EDITORS
$section-title--alt-font: $helvetica-neue;
$editor__name: 'FuturaCon-Bol';
$editor__tag: $helvetica-neue;

// POST-CARD
$post-card__title: 'FuturaCon-Bol';
$post-card__category: $helvetica-neue;
$post-card__editor: $helvetica-neue;
$post-card__snippet: $helvetica-neue;
$post-card__date: $helvetica-neue;

.post-card__editor {
    font-weight: bold;
}

// AUTHOR_INFO
$author-info__heading: 'FuturaCon-Bol';
$body: $helvetica-neue;

// FONTS
@font-face {
  font-family: 'FuturaCon-Bol';
  src: url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-bold.eot');
  src: url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-bold.eot#iefix') format('embedded-opentype'), url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-bold.woff2') format('woff2'), url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-bold.woff') format('woff'), url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-bold.ttf') format('truetype'), url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-bold.svg#youworkforthem') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaCon-Med';
  src: url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-medium.eot');
  src: url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-medium.eot#iefix') format('embedded-opentype'), url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-medium.woff2') format('woff2'), url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-medium.woff') format('woff'), url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-medium.ttf') format('truetype'), url('http://s2.thcdn.com/fe/fonts/hqint/futura-cond-medium.svg#youworkforthem') format('svg');
  font-weight: 400;
  font-style: normal;
}
