@import '../variables';

$color: #28bdb3;
$hover: #28bdb3;
$text-transform: none;
$display: block;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Open Sans', Helvetica, Arial, sans-serif;
$editor__name: 'Oswald', Helvetica, Arial, sans-serif;
$editor__tag: 'Open Sans', Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'Oswald', Helvetica, Arial, sans-serif;
$post-card__category: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__editor: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__snippet: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__date: 'Open Sans', Helvetica, Arial, sans-serif;

// AUTHOR_INFO
$author-info__heading__link: 'Oswald', Helvetica, Arial, sans-serif;
