@import '../variables';

$color: #28bdb3;
$hover: #28bdb3;
$text-transform: none;
$display: block;

// EDITORS
$text-decoration: none;
$section-title--alt-font: $open-sans;
$editor__name: 'Oswald', Helvetica, Arial, sans-serif;
$editor__tag: $open-sans;

// POST-CARD
$post-card__title: 'Oswald', Helvetica, Arial, sans-serif;
$post-card__category: $open-sans;
$post-card__editor: $open-sans;
$post-card__snippet: $open-sans;
$post-card__date: $open-sans;

// AUTHOR_INFO
$author-info__heading: 'Oswald', Helvetica, Arial, sans-serif;
$body: $open-sans;
