@import '../variables';

$color: #c06;
$hover: #c06;
$display: block;
$text-transform: none;
$text-decoration: none;

// EDITORS
$section-title--alt-font: $helvetica-neue;
$editor__name: $helvetica-neue;
$editor__tag: $helvetica-neue;

// POST-CARD
$post-card__title: $helvetica-neue;
$post-card__category: $helvetica-neue;
$post-card__editor: $helvetica-neue;
$post-card__snippet: $helvetica-neue;
$post-card__date: $helvetica-neue;

// AUTHOR_INFO
$author-info__heading: $helvetica-neue;
$body: $open-sans;
