@import '../variables';

$color: #c06;
$hover: #c06;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$editor__name: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $post-card__category:
// $post-card__editor:
$post-card__snippet: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__date: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-transform: none;
