@import '../variables';

$color: $black;
$hover: $black;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Open Sans', Helvetica, Arial, sans-serif;
$editor__name: 'league_gothicregular', Arial, Verdana, Helvetica;

// POST-CARD
$post-card__title: 'league_gothicregular', Arial, Verdana, Helvetica;
// $post-card__category:
// $post-card__editor:
$post-card__snippet: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__date: 'Open Sans', Helvetica, Arial, sans-serif;
$text-transform: none;
