@import '../variables';

$color: $black;
$hover: $black;
$display: block;
$text-transform: none;
$text-decoration: none;

// EDITORS
$section-title--alt-font: $open-sans;
$editor__name: 'league_gothicregular', Arial, Verdana, Helvetica;
$editor__tag: $open-sans;

// POST-CARD
$post-card__title: 'league_gothicregular', Arial, Verdana, Helvetica;
$post-card__category: $open-sans;
$post-card__editor: $open-sans;
$post-card__snippet: $open-sans;
$post-card__date: $open-sans;

.post-card__title {
  letter-spacing: .05em;
}

// AUTHOR_INFO
$author-info__heading: 'Oswald', Helvetica, Arial, sans-serif;
$body: $open-sans;

// FONTS
@font-face {
  font-family: 'league_gothicregular';
  src: url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.eot');
  src: url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.eot#iefix') format('embedded-opentype'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.woff') format('woff'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.ttf') format('truetype'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'league_gothicCnRg';
  src: url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.eot');
  src: url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.eot#iefix') format('embedded-opentype'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.woff') format('woff'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
  font-weight: 400;
  font-style: normal;
}
