@import '../variables';

$color: $black;
$hover: $black;
$text-transform: none;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Open Sans', Helvetica, Arial, sans-serif;
$editor__name: 'league_gothicregular', Arial, Verdana, Helvetica;
$editor__tag: 'Open Sans', Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'league_gothicregular', Arial, Verdana, Helvetica;
$post-card__category: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__editor: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__snippet: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__date: 'Open Sans', Helvetica, Arial, sans-serif;


// FONTS
@font-face {
  font-family: 'league_gothicregular';
  src: url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.eot');
  src: url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.eot#iefix') format('embedded-opentype'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.woff') format('woff'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.ttf') format('truetype'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'league_gothicCnRg';
  src: url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.eot');
  src: url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.eot#iefix') format('embedded-opentype'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.woff') format('woff'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
    url('http://s2.thcdn.com/fe/fonts/mkint/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
  font-weight: 400;
  font-style: normal;
}

.post-card__title {
  letter-spacing: .05em;
}
