@import '../variables';

$color: #b51218;
$hover: #b51218;
$text-transform: none;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Open Sans', Helvetica, Arial, sans-serif;
$editor__name: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$editor__tag: 'Open Sans', Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__category: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__editor: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__snippet: 'Open Sans', Helvetica, Arial, sans-serif;
$post-card__date: 'Open Sans', Helvetica, Arial, sans-serif;

.post-card__title {
  text-transform: uppercase;
}
