@import '../variables';

$color: #b51218;
$hover: #b51218;
$text-transform: none;
$display: block;

// EDITORS
$text-decoration: none;
$section-title--alt-font: $open-sans;
$editor__name: $helvetica-neue;
$editor__tag: $open-sans;

// POST-CARD
$post-card__title: $helvetica-neue;
$post-card__category: $open-sans;
$post-card__editor: $open-sans;
$post-card__snippet: $open-sans;
$post-card__date: $open-sans;

.post-card__title {
  text-transform: uppercase;
}

// AUTHOR_INFO
$author-info__heading: $helvetica-neue;
$body: $open-sans;

@media (max-width: 1200px) and (min-width: 992px) {
  h4 {
    font-size: 38px;
  }
}

@media (max-width: 99px) and (min-width: 768px) {
  .post-card__title {
    font-size: 24px;
  }
}
