@import '../variables';

$color: #ff9800;
$hover: #ff9800;
$text-transform: none;
$display: block;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$editor__name: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$editor__tag: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__category: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__editor: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__snippet: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__date: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// AUTHOR_INFO
$author-info__heading__link: 'Helvetica Neue', Helvetica, Arial, sans-serif;
