@import '../variables';

$color: #ff9800;
$hover: #ff9800;
$text-transform: none;
$display: block;

// EDITORS
$text-decoration: none;
$section-title--alt-font: $helvetica-neue;
$editor__name: $helvetica-neue;
$editor__tag: $helvetica-neue;

// POST-CARD
$post-card__title: $helvetica-neue;
$post-card__category: $helvetica-neue;
$post-card__editor: $helvetica-neue;
$post-card__snippet: $helvetica-neue;
$post-card__date: $helvetica-neue;

// AUTHOR_INFO
$author-info__heading: $helvetica-neue;
$body: $open-sans;
