@import '../variables';

$color: #d2322d;
$hover: #d2322d;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$editor__name: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__category: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__editor: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__snippet: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__date: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-transform: none;
