@import '../variables';

$color: #c03;
$hover: #c03;
$display: block;
$text-transform: uppercase;
$text-decoration: none;

// EDITORS
$section-title--alt-font: $open-sans;
$editor__name: 'bebas_neueregular_blog', sans-serif;
$editor__tag: $open-sans;

// POST-CARD
$post-card__title: 'bebas_neueregular_blog', sans-serif;
$post-card__category: $open-sans;
$post-card__editor: $open-sans;
$post-card__snippet: $open-sans;
$post-card__date: $open-sans;

// AUTHOR_INFO
$author-info__heading: 'bebas_neueregular_blog', sans-serif;
$body: $open-sans;

// FONTS
@font-face {
  font-family: 'bebas_neueregular_blog';
  src: url('http://d1ap1gpflanesc.cloudfront.net/dist/fonts/bebasneue-webfont.eot');
  src: url('http://d1ap1gpflanesc.cloudfront.net/dist/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://d1ap1gpflanesc.cloudfront.net/dist/fonts/bebasneue-webfont.woff2') format('woff2'),
    url('http://d1ap1gpflanesc.cloudfront.net/dist/fonts/bebasneue-webfont.woff') format('woff'),
    url('http://d1ap1gpflanesc.cloudfront.net/dist/fonts/bebasneue-webfont.ttf') format('truetype'),
    url('http://d1ap1gpflanesc.cloudfront.net/dist/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

.editor__name, .post-card__title {
  letter-spacing: 1px;
}
