@import '../variables';

$color: #ff4d4d;
$hover: #ff4d4d;
$text-transform: none;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'ClearSansLight', ClearSans, Helvetica Neue, Helvetica, Arial, sans-serif;
$editor__name: 'ClearSansLight', ClearSans, Helvetica Neue, Helvetica, Arial, sans-serif;
$editor__tag: 'ClearSansLight', ClearSans, Helvetica Neue, Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'ClearSansLight', ClearSans, Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__category: 'ClearSansLight', ClearSans, Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__editor: 'ClearSansLight', ClearSans, Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__snippet: 'ClearSansLight', ClearSans,Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__date: 'ClearSansLight', ClearSans, Helvetica Neue, Helvetica, Arial, sans-serif;


// FONTS
@font-face {
  font-family: 'ClearSansLight';
  src: url('../fonts/ClearSansLight/ClearSansLight.eot') format('embedded-opentype');
  src: url('../fonts/ClearSansLight/ClearSansLight.woff') format('woff'),
    url('../fonts/ClearSansLight/ClearSansLight.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
