@import '../variables';

$color: #fe9e16;
$hover: #fe9e16;
$display: block;
$text-transform: none;
$text-decoration: none;

// EDITORS
$section-title--alt-font: $open-sans;
$editor__name: 'proxima_nova_softbold', sans-serif;
$editor__tag: $open-sans;

// POST-CARD
$post-card__title: 'proxima_nova_softbold', sans-serif;
$post-card__category: $open-sans;
$post-card__editor: $open-sans;
$post-card__snippet: $open-sans;
$post-card__date: $open-sans;

// AUTHOR_INFO
$author-info__heading: 'proxima_nova_softbold', sans-serif;
$body: $open-sans;

// FONTS
@font-face {
  font-family: 'proxima_nova_softbold';
  src: url('../fonts/ProximaNova/proxima_nova_softbold.eot') format('embedded-opentype');
  src: url('../fonts/ProximaNova/proxima_nova_softbold.woff') format('woff'),
    url('../fonts/ProximaNova/proxima_nova_softbold.woff2') format('woff2'),
    url('../fonts/ProximaNova/proxima_nova_softbold.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
