@import '../variables';

$color: $black;
$hover: $black;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Open Sans', Helvetica, Arial, sans-serif;
$editor__name: 'Oswald Bold', Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'Oswald Bold', Helvetica, Arial, sans-serif;
// $post-card__category:
// $post-card__editor:
$post-card__snippet: 'Oswald Bold', Helvetica, Arial, sans-serif;
// $post-card__date:
$text-transform: none;
