@import '../variables';

$color: #320b70;
$hover: #320b70;
$text-transform: none;
$display: block;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Gotham Book', Helvetica Neue, Helvetica, Arial, sans-serif;
$editor__name: 'Gotham Book', Helvetica Neue, Helvetica, Arial, sans-serif;
$editor__tag: $open-sans;

// POST-CARD
$post-card__title: 'Gotham Book', Helvetica Neue, Helvetica, Arial, sans-serif;
$post-card__category: $open-sans;
$post-card__editor: $open-sans;
$post-card__snippet: $open-sans;
$post-card__date: $open-sans;

// AUTHOR_INFO
$author-info__heading: 'Gotham Book', Helvetica Neue, Helvetica, Arial, sans-serif;
$body: $open-sans;

// FONTS
@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/GothamBook/GothamBook.eot') format('embedded-opentype');
  src: url('../fonts/GothamBook/GothamBook.woff') format('woff'),
    url('../fonts/GothamBook/GothamBook.ttf')  format('truetype'),
    url('../fonts/GothamBook/GothamBook.svg#GothamBook') format('svg');
  font-weight: 400;
  font-style: normal;
}
