@import '../variables';

$color: #69bc28;
$hover: #69bc28;
$text-transform: none;

// EDITORS
$text-decoration: none;
$section-title--alt-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$editor__name: 'tstar-heavy', sans-serif;
$editor__tag: 'Gotham Book', Helvetica Neue, Helvetica, Arial, sans-serif;

// POST-CARD
$post-card__title: 'tstar-heavy', sans-serif;
$post-card__category: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__editor: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__snippet: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$post-card__date: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// FONTS
@font-face {
  font-family: 'tstar-medium';
  src: url('http://s2.thcdn.com/fe/fonts/zvint/tstar-medium.eot');
  src: url('http://s2.thcdn.com/fe/fonts/zvint/tstar-medium.eot#iefix') format('embedded-opentype'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstar-heavy-webfont.svg#tstar-heavy') format('svg'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstar-medium.woff') format('woff'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstar-heavy-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'tstar-heavy';
  src: url('http://s2.thcdn.com/fe/fonts/zvint/tstar-heavy-webfont.eot');
  src: url('http://s2.thcdn.com/fe/fonts/zvint/tstar-heavy-webfont.eot#iefix') format('embedded-opentype'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstar-heavy-webfont.svg#tstar-heavy') format('svg'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstar-heavy-webfont.woff') format('woff'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstar-heavy-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'tstar-mono-round';
  src: url('http://s2.thcdn.com/fe/fonts/zvint/tstarmonoroundbol-webfont.eot');
  src: url('http://s2.thcdn.com/fe/fonts/zvint/tstarmonoroundbol-webfont.eot#iefix') format('embedded-opentype'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstarmonoroundbol-webfont.svg#tstar-mono-round') format('svg'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstarmonoroundbol-webfont.woff') format('woff'),
    url('http://s2.thcdn.com/fe/fonts/zvint/tstarmonoroundbol-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
